.tickets {
    display: flex;
    flex-direction: column;
}

.ticket {
    background-color: rgb(243, 230, 255);
    border: 1px dotted darkmagenta;
    padding: 0.7rem;
    margin: .5rem;
}

.ticketListBtns {
    margin: 0 10px;

}

#searchArea {
    margin: 10px 10px;
}

#descriptionText {
    height: 200px;
}

.ticket__footer {
    border-top: 2px solid rgb(209, 167, 181);
    margin-top: 20px;
}
.ticket__emergency {
    margin-top: 10px;
}

.ticket__close {
    float: right;
    margin-top: 4px;
}

.ticket__claim {
    margin-top: 4px;
}

.ticket__delete {
    float: right;
    margin-top: 4px;
    background-color: lightcoral;
}